<a class="c-wall-row" href="/readCard/{{id}}">
    <div class="c-wall-item">
    <h2>Read</h2>
    <h3>{{date}}</h3>
    <p>
      You read {{pagesRead}} pages in {{bookTitle}}.
    </p>
    <p>
      You spent {{timeSpent}} minutes reading.
    </p>
  </div>
</a>
