<a class="c-wall-row" href="/runCard/{{id}}">
    <div class="c-wall-item">
    <h2>Run</h2>
    <h3>{{date}}</h3>
    <p>
      You ran {{distance}} miles over the course of <span>( {{timeSpent}} )</span>
    </p>
    <p>
      Your pace was {{pace}} minutes per mile
    </p>
  </div>
</a>